<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="testing calculator" thread-count="2" parallel="tests" preserve-order="true">
    <listeners>
        <listener class-name="epam.com.calculator.runner.listner.TestListners" />
    </listeners>
    <test name="Test" >
        <groups>
        <run>
            <include name="Debug"/>
            <exclude name="Broken"/>
        </run>
    </groups>
        <packages>
            <package name="epam.com.calculator.test.testng"/>
        </packages>
    </test>
</suite>
